

.button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: $font-family;
  padding: 0;
  margin: 0;
  line-height: 1;

  &--solid {
    background: $color-primary;
  
    color:$color-white;
    padding: $spacing-2 $spacing-3;
    border-radius: $border-radius-md;
    font-weight: $font-weight-medium;
    
    &:hover {
      background: $color-primary-dark;
    }
  }

  &--outline {
    color: $color-primary;
    border: 1px solid currentColor;
    padding: $spacing-2 $spacing-3;
    border-radius: $border-radius-md;
    font-weight: $font-weight-regular;
    transition: color 0.3s ease, border-color 0.3s ease;
  
    &:hover {
      color: $color-primary-dark;
      border-color: $color-primary-dark;
    }
  }
  

  &--text {
    position: relative;
    display: inline-block;
    color: $color-primary-text;
    padding: $spacing-2 $spacing-3;
    border-radius: $border-radius-md;
    font-weight: $font-weight-medium;
    text-decoration: none;
    overflow: hidden;
  
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: $color-primary; // Your green color variable
      transition: width 0.3s ease;
    }
  
    &:hover {
     
  
      &::after {
        width: 100%;
      }
    }
  }
  
}