// Color Palette
$color-primary: #49D3BA;
$color-primary-dark: #018786;
$color-primary-light: #78caca;
$color-secondary: #03dac6;
$color-secondary-light: #03dac6;
$color-secondary-dark: #053535;
$color-error: #b00020;
$color-background: #f4f4f9;

$color-white:#f4f4f9;
$color-primary-text: #231F20;
$color-secondary-text: #8d9491;
$color-primary-text-hover:#3f935b;


// Spacing
$spacing-unit: 8px;
$spacing-1: $spacing-unit;       // 8px
$spacing-2: $spacing-unit * 2;   // 16px
$spacing-3: $spacing-unit * 3;   // 24px
$spacing-4: $spacing-unit * 4;   // 32px

// Typography
$font-family: 'Inconsolata', system-ui, sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 20px;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Elevation
$elevation-1: 0 1px 3px rgba(0,0,0,0.12);
$elevation-2: 0 4px 6px rgba(0,0,0,0.1);
$elevation-3: 0 10px 15px rgba(0,0,0,0.1);

// Border
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;